@font-face {
    font-family: "ArnoPro";
    src: url("../fonts/ArnoPro-Display.woff2") format("woff2"), url("../fonts/ArnoPro-Display.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AvenirNext";
  src: url("../fonts/AvenirNext.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}