/*
 * Custom Select jQuery Plugin Base
 */
.custom-select {
    position: relative;
    min-width: 220px;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px 0 19px;
    background: #fff;
    height: 49px;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    -ms-flex-align: center;
    align-items: center;
}

.custom-select.custom-select--active:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom-select:after {
    content: "";
    position: absolute;
    top: 21px;
    right: 20px;
    width: 7px;
    height: 9px;
    pointer-events: none;
    transition: 0.2s;
    display: block;
    background: url("../images/arrow.png") center/contain no-repeat;
}

.custom-select__option {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-family: inherit;
    white-space: nowrap;
    text-align: left;
    outline: none;
    border: none;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 24px;
}

.custom-select__option-wrap {
    position: relative;
}

.custom-select__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0;
    border-width: 1px 0;
    border-style: solid;
    border-radius: 0;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select__dropdown {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 100%;
    background: #fff;
    left: 0;
    z-index: 1005;
    padding: 10px 10px 10px 19px;
    box-shadow: 0 6px 5px rgba(201, 201, 201, 0.55);
}

.custom-select__dropdown .custom-select__option {
    margin-bottom: 10px;
}

.custom-select--dropup .custom-select__dropdown {
    top: auto;
    bottom: 100%;
}